@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');

.tcustom {
  
}

/* IMAGE */

.cimage {
    display: inline-block;
    border: 0;
}

    .cimage img {
        display: block;
        width: 100%;
    }

    .cimage.avatar45 {
        width: 200px;
        height: 200px;
        background: rgb(255, 255, 255);
    }

        .cimage.avatar45 img {
            width: 250px;
            height: 250px;
            border-radius: 75%;
            box-shadow: 2px 2px 100px rgb(47, 74, 224);
        }

.contenedor {
    /*font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
    text-shadow: 2px 2px rgb(145, 145, 145);
    color: rgb(15, 31, 117);
    
}

.alig {
    text-align: right;
}

